body{
	margin:0px;
	font-family:malgun gothic;
	font-size:14px;
	color:#444;
	background-color:#000;
}

a{
	color:#111;
	text-decoration:none;
}

a:hover{
	color:#000;
	text-decoration:underline;
}

input[type='text'], input[type='password'], input[type='file']{
	border:1px solid #bbb;
	padding:3px;
	font-family:malgun gothic;
}

select{
	font-family:malgun gothic;
	border:1px solid #bbb;
}

button{
	font-family:Nanum Gothic;
}

textarea{
	font-family:malgun gothic;
}

#mainWrap{
	width:1000px;
	margin:0 auto;
	background-color:#fff;
}

#topWrap{
	height:100px;
	background-color:#000;
}

#logoWrap{
	float:left;
	margin-top:40px;
}

#topmenuWrap{
	float:right;
	margin-top:60px;
	margin-right:20px;
}

#topmenuWrap a{
	color:#999;
}

#topmenuWrap a:hover{
	color:#eee;
}

#topmenuWrap #loginName{
	color:#fc0;
	font-weight:bold;
	margin-right:20px;
}

#menuWrap{
	height:50px;
	background-color:#333;
	color:#bbb;
}

#menuWrap .menu{
	float:left;
	height:30px;
	padding:10px 50px;
	font-size:24px;
	font-weight:bold;
	font-style:italic;
	cursor:pointer;
}

#menuWrap .menu:hover{
	color:#fff;
	background-color:#444;
}


#bodyWrap{
	padding:10px 20px 100px 20px;
}

#bodyWrap #title{
	padding-left:40px;
	background:url(/images/icon_title_bg_black.png);
	background-repeat:no-repeat;
	background-position:left 6px;
	font-size:30px;
	font-weight:bold;
	margin:10px 0px;
}

#bodyWrap table{
	width:100%;
	border-collapse:collapse;
}

#bodyWrap table th, #bodyWrap table td{
	padding:5px;
	border:1px solid #dcdcdc;
}

#bodyWrap table th{
	font-size:15px;
	background-color:#eee;
}


#mainPageWrap .titleWrap{
	width:950px;
	height:40px;
	margin-top:10px;
	border-bottom:1px solid #ddd;
	margin:auto;
	margin-top:10px;
}

#mainPageWrap .titleWrap .title{
	font-family:malgun gothic;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	color:#000;
	float:left;
	margin-top:15px;
}

#mainPageWrap .titleWrap .more{
	font-size:12px;
	float:right;
	margin-top:20px;
}


#mainPageWrap #visualWrap{
	height:400px;
}



#mainPageWrap #mainPostWrap{
	padding:10px 25px 25px 25px;
}

#mainPageWrap #mainPostWrap .item_left, #mainPageWrap #mainPostWrap .item_right{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}

#mainPageWrap #mainPostWrap .item_left:last-child, #mainPageWrap #mainPostWrap .item_right:last-child{
	margin-bottom:0px;
	padding-bottom:0px;
	border-bottom:none;
}

#mainPageWrap #mainPostWrap .img{
	width:400px;
	padding:5px;
	border:1px solid #ddd;
	text-align:center;
}

#mainPageWrap #mainPostWrap .item_left .img{
	float:left;
}

#mainPageWrap #mainPostWrap .item_right .img{
	float:right;
}

#mainPageWrap #mainPostWrap .info{
	width:510px;
	float:left;
}

#mainPageWrap #mainPostWrap .item_left .info{
	margin-left:20px;
}

#mainPageWrap #mainPostWrap .item_right .info{
	margin-right:20px;
}

#mainPageWrap #mainPostWrap .title{
	margin-top:10px;
	font-size:30px;
	font-family:Nanum Gothic;
	font-weight:bold;
}

#mainPageWrap #mainPostWrap .content{
	margin-top:20px;
	line-height:1.3;
	max-height:250px;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:14;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;	
}



#mainPageWrap #galleryWrap{
	padding:10px 25px 25px 25px;
}

#mainPageWrap #galleryWrap .item{
	float:left;
	margin:0px 9px 9px 9px;
}

#mainPageWrap #galleryWrap .img{
	border:1px solid #ddd;
	padding:3px;	
}

#mainPageWrap #galleryWrap .title{
	font-family:Nanum Gothic;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding:5px 0px;
	width:290px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;		
}









#footWrap{
	background-color:#000;
	text-align:center;
	padding:40px;
}




#loginWrap{
	margin-top:30px;
	border-top:5px solid #000;
	border-bottom:2px solid #000;
	padding:50px;
}

#loginWrap #title{
	font-family:Nanum Gothic;
}

#loginWrap div{
	margin-top:10px;
	text-align:center;
}

#loginWrap input{
	width:200px;
	font-size:20px;
	font-style:italic;
	padding:5px;
}
	
#loginWrap .btnCheckbox{
	display:none;
}	

#loginWrap .btnCheckbox + label{
	display: inline-block;
	padding:5px;
	color:#fff;
	background-color:#bbb;
	cursor: pointer;
}	

#loginWrap .btnCheckbox:checked + label{
	background-color:#a51f22;
}
	
#loginWrap #btnLogin{
	margin-top:10px;
}	





#memberJoinWrap{
	padding:30px;
}

#memberJoinTitle{
	font-family:Nanum Gothic;
	font-size:40px;
	font-weight:bold;
	color:#333;
	margin-left:40px;
}

#memberJoinBody{
	width:90%;
	margin:auto;
	padding:20px 0px 20px 0px;
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#memberJoinTable{
	width:650px;
	margin-top:20px;
	margin:auto;
	border-spacing:0px;
}

#memberJoinTable th, #memberJoinTable td{
	padding:5px;
}

#memberJoinTable th{
	text-align:right;
	padding-right:10px;
	font-size:16px;
}

#memberJoinTable .essen{
	position:inline-block;
	padding-left:12px;
	background:url(/images/icon_essen.png);
	background-repeat:no-repeat;
	background-position:left 5px;
}

#memberJoinTable td{
	border-left:2px solid #ddd;
	padding-left:10px;
}

#memberJoinTable input[type="text"]{
	width:200px;
}

#memberJoinTable input[type="password"]{
	width:204px;
}

#memberJoinTable .user_email{
	width:120px !important;
}

#memberJoinTable #user_birthday{
	width:80px !important;
}

#memberJoinBtn{
	text-align:center;
	margin:20px 0px 50px 0px;
}

#memberJoinTable .floatLeft div{
	float:left;
}





#formBody{
	width:100%;
	margin-top:20px;
}

#formTable{
	width:600px;
	margin:auto;
	border-spacing:0px;
}

#formTable th, #formTable td{
	padding:5px;
}

#formTable th{
	text-align:right;
	padding-right:10px;
	font-size:16px;
}

#formTable .essen{
	position:inline-block;
	padding-left:12px;
	background:url(/images/icon_essen.png);
	background-repeat:no-repeat;
	background-position:left 5px;
}

#formTable td{
	border-left:2px solid #ddd;
	padding-left:10px;
}








#movieListWrap{
	width:960px;
	margin-top:20px;
}

#movieListWrap #movieSearchWrap{
	margin-bottom:10px;
}

#movieListWrap #movieSearchWrap #movieCategory, #movieListWrap #movieSearchWrap #movieSearch{
	float:left;
}

#movieListWrap #movieSearchWrap #movieSearch #searchKeyword{
	font-size:16px;
	padding:5px;
	margin-left:10px;
}

#movieListWrap #movieSearchWrap #movieCount{
	float:right;
	margin-bottom:10px;
	font-size:18px;
	font-style:italic;
}

#movieListWrap #movieCount span{
	font-weight:bold;
	color:#000;
}

#movieListWrap .movieListItem{
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:20px;
}

#movieListWrap .movieListItem .movieListPoster{
	float:left;
	width:180px;
}

#movieListWrap .movieListItem .movieListPoster a:hover{
	text-decoration:none;
}

#movieListWrap .movieListItem .movieListPoster .noImage{
	display:inline-block;
	width:160px;
	height:230px;
	line-height:230px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#movieListWrap .movieListItem .movieListInfo{
	float:left;
	width:590px;
}

#movieListWrap .movieListItem .movieListInfo a{
	font-weight:bold;
}

#movieListWrap .movieListItem .movieListInfo div{
	margin-bottom:10px;
}

#movieListWrap .movieListItem .movieListInfo .infoTitle{
	font-weight:bold;
	display:inline-block;
	width:70px;
	vertical-align:top;
	padding-left:10px;
	background:url(/images/icon_dot_orange.gif);
	background-repeat:no-repeat;
	background-position:left 6px;
}

#movieListWrap .movieListItem .movieListInfo .infoBorder{
	display:inline-block;
	width:10px;
	text-align:center;
	vertical-align:top;
}

#movieListWrap .movieListItem .movieListInfo .infoContent{
	display:inline-block;
	width:480px;
	vertical-align:top;
}

#movieListWrap .movieListItem .movieListInfo .movieTitle{
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
	color:#111;
}

#movieListWrap .movieListItem .movieListPoint{
	float:right;
	width:100px;
	padding-left:20px;
	margin-top:50px;
	border-left:1px solid #ddd;
}

#movieListWrap .movieListItem .moviePoint{
	margin-bottom:20px;
}

#movieListWrap .movieListItem .moviePoint .moviePointScore{
	position:absolute;
	color:#000;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin-top:-63px;
	margin-left:-2px;
	width:80px;
	text-align:center;
}

#movieListWrap .movieListItem .movieTitle{
	font-size:34px;
	font-weight:bold;
}

#movieListWrap .movieListItem .movieEngTitle{
	font-size:18px;
	margin-top:5px;
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}

#movieListWrap #movieStillImg{
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:20px;
}

#movieListWrap #movieStillImg #stillThumbnail{
	float:left;
	width:100px;
}

#movieListWrap #movieStillImg #stillThumbnail div{
	margin-bottom:15px;
}

#movieListWrap #movieStillImg #stillImg{
	width:800px;
	height:500px;
	float:right;
	padding-left:8px;
	border-left:1px solid #ddd;
}


#movieListWrap #movieStillImg2{
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:20px;
}

#movieListWrap #movieStillImg2 #stillThumbnail{
	float:left;
	width:100px;
}

#movieListWrap #movieStillImg2 #stillThumbnail div{
	margin-bottom:2px;
}

#movieListWrap #movieStillImg2 #stillImg{
	width:500px;
	height:340px;
	float:left;
	margin-left:20px;
	padding-top:20px;
	padding-left:20px;
	border-left:1px solid #ddd;
}

#movieListWrap .movieContents{
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:20px;
	line-height:1.5;
}




#movieListWrap #moviePosterWrap{
	border-bottom:1px solid #ddd;
}

#movieListWrap #moviePosterWrap #moviePosterTitle{
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
}

#movieListWrap #moviePosterWrap .moviePosterItem{
	border-top:1px solid #ddd;
	width:192px;
	height:250px;
	float:left;
	padding:30px 0px 20px 0px;
}

#movieListWrap #moviePosterWrap .emptyItem{
	border-top:1px solid #ddd;
	width:192px;
	height:310px;
	float:left;
}

#movieListWrap #moviePosterWrap .moviePosterItem .moviePoster{
	width:160px;
	height:230px;
	line-height:227px;
	padding:3px;
	background-color:#111;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

#movieListWrap #moviePosterWrap .moviePosterItem .moviePoster a:hover{
	text-decoration:none;
}





#movieListWrap #criticismWrap{
	border:1px solid #ddd;
	margin-top:20px;
	margin-bottom:10px;
	padding:20px;
}

#movieListWrap #criticismWrap #criticismTitleWrap{
	float:left;
}


#movieListWrap #criticismWrap #criticismTitleWrap #criticismTitle{
	font-size:28px;
	font-weight:bold;
	margin-bottom:20px;
}

#movieListWrap #criticismWrap #criticismTitleWrap #criticismWriterImg{
	float:left;
	border:1px solid #ddd;
}

#movieListWrap #criticismWrap #criticismTitleWrap #criticismWriterInfo{
	float:left;
	margin-left:10px;
}

#movieListWrap #criticismWrap #criticismTitleWrap #criticismWriterInfo #criticismName{
	margin-top:5px;
	font-size:18px;
	font-weight:bold;
}

#movieListWrap #criticismWrap #criticismTitleWrap #criticismWriterInfo #criticismDate{
	margin-top:5px;
}

#movieListWrap #criticismWrap #criticismPointWrap{
	float:right;
	width:100px;
	padding-left:20px;
	border-left:1px solid #ddd;
}

#movieListWrap #criticismWrap #criticismPointWrap #criticismPoint{
	text-align:center;
	margin-bottom:20px;
}

#movieListWrap #criticismWrap #criticismPointWrap #criticismPoint #criticismPointScore{
	position:absolute;
	color:#000;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin-top:-63px;
	margin-left:5px;
	width:80px;
	text-align:center;
}

#movieListWrap #criticismWrap #criticismContentWrap{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #ddd;
	line-height:1.5;
}






#movieListWrap #refMovieWrap{
	border-bottom:1px solid #ddd;
}

#movieListWrap #refMovieWrap #refMovieTitle{
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
}

#movieListWrap #refMovieWrap .refMovieItem{
	border-top:1px solid #ddd;
	width:190px;
	height:340px;
	float:left;
	padding:30px 0px 20px 0px;
}

#movieListWrap #refMovieWrap .emptyItem{
	border-top:1px solid #ddd;
	width:190px;
	height:310px;
	float:left;
}

#movieListWrap #refMovieWrap .refMovieItem .refMovieImg{
	width:160px;
	height:230px;
	line-height:227px;
	padding:3px;
	background-color:#111;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

#movieListWrap #refMovieWrap .refMovieItem .refMovieImg a:hover{
	text-decoration:none;
}

#movieListWrap #refMovieWrap .refMovieItem .refMovieImg .noImage{
	display:inline-block;
	width:160px;
	height:230px;
	line-height:230px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#movieListWrap #refMovieWrap .refMovieItem .refMovieInfo{
	width:160px;
	margin:auto;
}

#movieListWrap #refMovieWrap .refMovieItem .refMovieInfo .movieTitle{
	margin-top:10px;
	font-size:18px;
	font-weight:bold;
	color:#111;
	text-align:center;
}

#movieListWrap #refMovieWrap .refMovieItem .refMovieInfo .movieYear{
	margin-top:5px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}


#movieListWrap #refMovieWrap .refMovieItem .refMovieInfo .moviePoint{
	margin-top:5px;
	text-align:center;
}



#movieListWrap #criticismListWrap #criticismListWrapTitle{
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
}

#movieListWrap #criticismListWrap th{
	border:none;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ccc;
}

#movieListWrap #criticismListWrap td{
	border:none;
	border-bottom:1px solid #ddd;
	padding:10px 5px;
	font-size:16px;
}


#movieListWrap #btnWrap{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #ddd;
}






#movieInfoEntryWrap{
	width:1000px;
}

#movieInfoEntryWrap #formBody #formTable .th{
	width:20%;
}

#movieInfoEntryWrap #formBody #formTable .td{
	width:80%;
}


#commentWrap{
	margin-top:30px;
}

#commentWrap #commentTitle{
	width:200px;
	padding-top:10px;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
	
	background:url('/images/bg_comment_title.png');
	background-repeat:no-repeat;
	background-position:right;
}

#commentWrap #commentWriteWrap{
	margin-bottom:20px;
}

#commentWrap #commentWriteWrap #commentPoint{
	height:30px;
}

#commentWrap #commentWriteWrap #commentPoint div{
	float:left;
}

#commentWrap #commentWriteWrap #commentTextarea{
	width:90%;
	float:left;
}

#commentWrap #commentWriteWrap #commentTextarea textarea{
	width:97%;
	height:58px;
	padding:10px;
	font-size:14px;
}

#commentWrap #commentWriteWrap #commentButton{
	width:10%;
	float:left;
}

#commentWrap #commentWriteWrap #commentButton button{
	width:100%;
	height:80px;
	border:0px;
	background-color:#333;
	color:#fff;
	font-size:16px;
	cursor:pointer;
}

#commentWrap #commentListWrap .commentItem{
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #ddd;
}

#commentWrap #commentListWrap .commentItem table td, #commentWrap #commentListWrap .commentModifyItem table td{
	border:none;
	vertical-align:top;
}

#commentWrap #commentListWrap .commentItem .imgWrap, #commentWrap #commentListWrap .commentModifyItem .imgWrap{
	width:60px;
}

#commentWrap #commentListWrap .commentItem .contentWrap, #commentWrap #commentListWrap .commentModifyItem .contentWrap{
	width:95%;
}

#commentWrap #commentListWrap .commentItem .replyIcon, #commentWrap #commentListWrap .commentModifyItem .replyIcon{
	padding-left:25px;
	
	background:url('/images/bg_comment_reply.png');
	background-repeat:no-repeat;
	background-position:left 7px;
}

#commentWrap #commentListWrap .commentItem .contentWrap, #commentWrap #commentListWrap .commentModifyItem .contentWrap{
	float:left;
	border-left:1px solid #eee;
	padding-left:10px;
}

#commentWrap #commentListWrap .commentItem .commentName, #commentWrap #commentListWrap .commentModifyItem .commentName{
	font-size:16px;
	font-weight:bold;
}

#commentWrap #commentListWrap .commentItem .commentDate, #commentWrap #commentListWrap .commentModifyItem .commentDate{
	font-size:11px;
}

#commentWrap #commentListWrap .commentItem .commentContent{
	margin-top:10px;
	line-height:1.5;
}

#commentWrap #commentListWrap .commentItem .commentBtn{
	margin-top:10px;
}



#commentWrap #commentListWrap .commentReplyItem, #commentWrap #commentListWrap .commentModifyItem{
	border-bottom:1px solid #ddd;
	padding:10px 0px;
	margin-bottom:50px;
}

#commentWrap #commentListWrap .commentReplyItem .commentReplyTextarea textarea, #commentWrap #commentListWrap .commentModifyItem .commentModifyTextarea textarea{
	width:97%;
	height:58px;
	padding:10px;
	font-size:14px;
	margin-bottom:10px;
	margin-top:5px;
}












#actorListWrap{
	width:960px;
	margin-top:20px;
}

#actorListWrap #actorListTitle{
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
}

#actorListWrap #actorSearchWrap{
	margin-bottom:10px;
}

#actorListWrap #actorSearchWrap #actorSearch{
	float:left;
}

#actorListWrap #actorSearchWrap #actorSearch #searchKeyword{
	font-size:16px;
	padding:5px;
	margin-left:10px;
}

#actorListWrap #actorSearchWrap #actorCount{
	float:right;
	margin-bottom:10px;
	font-size:18px;
	font-style:italic;
}

#actorListWrap #actorCount span{
	font-weight:bold;
	color:#000;
}

#actorListWrap .actorListItem{
	border-top:1px solid #ddd;
	width:192px;
	height:310px;
	float:left;
	padding:20px 0px 20px 0px;
}

#actorListWrap .actorListItem .actorListImg{
	width:160px;
	height:230px;
	line-height:227px;
	padding:3px;
	background-color:#111;
	margin:auto;
	text-align:center;
}

#actorListWrap .actorListItem .actorListImg a:hover{
	text-decoration:none;
}

#actorListWrap .actorListItem .actorListImg .noImage{
	display:inline-block;
	width:160px;
	height:230px;
	line-height:230px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#actorListWrap .actorListItem .actorListInfo{
	width:160px;
	margin:auto;
}

#actorListWrap .actorListItem .actorListInfo .actorKRName{
	margin-top:10px;
	font-size:16px;
	font-weight:bold;
	color:#111;
	text-align:center;
}

#actorListWrap .actorListItem .actorListInfo .actorKRName a{
	color:#111;
}

#actorListWrap .actorListItem .actorListInfo .actorName{
	margin-top:5px;
	text-align:center;
}


#actorListWrap .actorListItem .actorListInfo .actorAge{
	margin-top:5px;
	text-align:center;
}

#actorListWrap .emptyItem{
	border-top:1px solid #ddd;
	width:192px;
	height:310px;
	float:left;
}







#actorViewWrap{
	width:960px;
	margin-top:20px;
}

#actorViewWrap #actorInfoWrap{
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:20px;
}

#actorViewWrap #actorInfoWrap #actorTitle{
	margin-bottom:20px;
	padding-bottom:20px;
	border-bottom:1px solid #ddd;
}

#actorViewWrap #actorInfoWrap #actorTitle #actorKRName{
	font-size:40px;
	font-weight:bold;
}

#actorViewWrap #actorInfoWrap #actorTitle #actorName{
	font-size:18px;
	font-weight:bold;
	margin-top:10px;
}

#actorViewWrap #actorInfoWrap #actorImg{
	float:left;
	width:400px;
	padding-right:20px;
}

#actorViewWrap #actorInfoWrap #actorInfo{
	float:right;
	width:470px;
	padding-left:20px;
	border-left:1px solid #ddd;
}

#actorViewWrap #actorInfoWrap #actorInfo #actorBiography{
	line-height:1.5;
	margin-top:20px;
	padding-top:10px;
	border-top:1px solid #ddd;
	height:550px;
	overflow:auto;	
}

#actorViewWrap #actorInfoWrap #actorInfo #actorBiographyNull{
	height:500px;
	line-height:500px;
	text-align:center;
	margin-top:20px;
	border:1px solid #ddd;
	
}



#actorViewWrap #actorFilmographyWrap{
	border-bottom:1px solid #ddd;
}

#actorViewWrap #actorFilmographyWrap #filmographyTitle{
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
	padding-left:60px;
	background:url('/images/icon_film.png');
	background-repeat:no-repeat;
	background-position:10px 5px;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem{
	border-top:1px solid #ddd;
	width:192px;
	height:340px;
	float:left;
	padding:30px 0px 20px 0px;
}

#actorViewWrap #actorFilmographyWrap .emptyItem{
	border-top:1px solid #ddd;
	width:192px;
	height:310px;
	float:left;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyImg{
	width:160px;
	height:230px;
	line-height:227px;
	padding:3px;
	background-color:#111;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyImg a:hover{
	text-decoration:none;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyImg .noImage{
	display:inline-block;
	width:160px;
	height:230px;
	line-height:230px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyInfo{
	width:160px;
	margin:auto;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyInfo .movieTitle{
	margin-top:10px;
	font-size:18px;
	font-weight:bold;
	color:#111;
	text-align:center;
}

#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyInfo .movieYear{
	margin-top:5px;
	font-size:16px;
	font-weight:bold;
	text-align:center;
}


#actorViewWrap #actorFilmographyWrap .filmographyItem .filmographyInfo .moviePoint{
	margin-top:5px;
	text-align:center;
}



#actorViewWrap #actorImgWrap{
	border-bottom:1px solid #ddd;
}

#actorViewWrap #actorImgWrap #actorImgTitle{
	font-size:36px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
}

#actorViewWrap #actorImgWrap .actorImgItem{
	border-top:1px solid #ddd;
	width:192px;
	height:250px;
	float:left;
	padding:30px 0px 20px 0px;
}

#actorViewWrap #actorImgWrap .emptyItem{
	border-top:1px solid #ddd;
	width:192px;
	height:310px;
	float:left;
}

#actorViewWrap #actorImgWrap .actorImgItem .actorImg{
	width:160px;
	height:230px;
	line-height:227px;
	padding:3px;
	background-color:#111;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

#actorViewWrap #actorImgWrap .actorImgItem .actorImg a:hover{
	text-decoration:none;
}








#criticismListWrap{
	width:960px;
	margin-top:20px;
}

#criticismListWrap #criticismSearchWrap{
	margin-bottom:10px;
}

#criticismListWrap #criticismSearchWrap #criticismSearch{
	float:left;
}

#criticismListWrap #criticismSearchWrap #criticismSearch #searchKeyword{
	font-size:16px;
	padding:5px;
}

#criticismListWrap #criticismSearchWrap #criticismCount{
	float:right;
	margin-bottom:10px;
	font-size:18px;
	font-style:italic;
}

#criticismListWrap #criticismSearchWrap #criticismCount span{
	font-weight:bold;
	color:#000;
}

#criticismListWrap .criticismListItem{
	border:1px solid #ddd;
	margin-bottom:10px;
	padding:20px;
}

#criticismListWrap .criticismListItem .criticismListPoster{
	float:left;
	width:180px;
}

#criticismListWrap .criticismListItem .criticismListPoster a:hover{
	text-decoration:none;
}

#criticismListWrap .criticismListItem .criticismListPoster .noImage{
	display:inline-block;
	width:160px;
	height:230px;
	line-height:230px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#criticismListWrap .criticismListItem .criticismListInfo{
	float:left;
	width:580px;
}

#criticismListWrap .criticismListItem .criticismListInfo a{
	font-weight:bold;
}

#criticismListWrap .criticismListItem .criticismListInfo div{
	margin-bottom:10px;
}

#criticismListWrap .criticismListItem .criticismListInfo .movieTitle{
	font-size:14px;
	font-weight:bold;
	margin:5px 0px;
	color:#111;
}

#criticismListWrap .criticismListItem .criticismListInfo .criticismTitle{
	font-size:18px;
	font-weight:bold;
	margin-bottom:20px;
	color:#111;
}

#criticismListWrap .criticismListItem .criticismListInfo .criticismContent{
	height:150px;
	line-height:1.4;
	overflow:hidden;
}

#criticismListWrap .criticismListItem .criticismListPoint{
	float:right;
	width:100px;
	padding-left:20px;
	margin-top:30px;
	border-left:1px solid #ddd;
}

#criticismListWrap .criticismListItem .criticismListPoint .criticismPoint{
	text-align:center;
	margin-bottom:20px;
}

#criticismListWrap .criticismListItem .criticismListPoint .criticismPoint .criticismPointScore{
	position:absolute;
	color:#000;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin-top:-63px;
	margin-left:5px;
	width:80px;
	text-align:center;
}

#criticismListWrap .criticismListItem .criticismListPoint .criticismName{
	font-size:16px;
	font-weight:bold;
	text-align:center;
}

#criticismListWrap .criticismListItem .criticismListPoint .criticismId{
	text-align:center;
}

#criticismListWrap .criticismListItem .criticismListPoint .criticismDate{
	text-align:center;
	margin-bottom:10px;
}


#criticismEntryWrap{
	width:960px;
}

#criticismEntryWrap #formBody #formTable .th{
	width:15%;
}

#criticismEntryWrap #formBody #formTable .td{
	width:85%;
}

#criticismEntryWrap #formBody #formTable th, #criticismEntryWrap #formBody #formTable td{
	padding:8px;
}

#criticismEntryWrap #criticismPoint div{
	float:left;
}

#criticismEntryWrap #criticismPoint div img{
	margin-right:10px;
}









#bbsListWrap{
	width:960px;
	margin-top:20px;
}

#bbsListWrap #bbsSearchWrap{
	margin-bottom:10px;
}

#bbsListWrap #bbsSearchWrap #bbsSearch{
	float:left;
}

#bbsListWrap #bbsSearchWrap #bbsSearch #searchKeyword{
	font-size:16px;
	padding:5px;
}

#bbsListWrap #bbsSearchWrap #bbsCount{
	float:right;
	margin-bottom:10px;
	font-size:18px;
	font-style:italic;
}

#bbsListWrap #bbsSearchWrap #bbsCount span{
	font-weight:bold;
	color:#000;
}

#bbsListWrap #bbsList td{
	padding:8px;
}

#bbsListWrap #bbsList .commentCnt{
	margin-left:5px;
	color:#a81515;
	font-weight:bold;
}

#bbsListWrap #bbsList .replyIcon{
	padding-left:29px;
	
	background:url('/images/icon_re_orange.png');
	background-repeat:no-repeat;
	background-position:left 0px;
}

#bbsListWrap #bbsFaqList .bbsContent{
	display:none;
	margin-top:10px;
	border-top:1px solid #ddd;
	padding:10px;
	margin-bottom:50px;
}


#bbsListWrap #bbsGalleryList{
	border-top:1px solid #eee;
}

#bbsListWrap #bbsGalleryList .bbsListItem{
	width:320px;
	height:230px;
	float:left;
	padding:20px 0px 20px 0px;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListImg{
	width:300px;
	height:200px;
	line-height:197px;
	padding:3px;
	border:1px solid #ddd;
	margin:auto;
	text-align:center;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListImg a:hover{
	text-decoration:none;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListImg .noImage{
	display:inline-block;
	width:300px;
	height:200px;
	line-height:197px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListInfo{
	width:300px;
	margin:auto;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListInfo .bbsListTitle{
	margin-top:5px;
	text-align:center;
}

#bbsListWrap .emptyItem{
	border-top:1px solid #ddd;
	width:320px;
	height:230px;
	float:left;
}



#bbsListWrap #bbsViewWrap{
	border:1px solid #ddd;
	margin-top:20px;
	margin-bottom:10px;
	padding:20px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewTitle{
	font-size:28px;
	font-weight:bold;
	margin-bottom:20px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterImg{
	float:left;
	border:1px solid #ddd;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterInfo{
	float:left;
	margin-left:10px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterInfo #bbsViewName{
	margin-top:5px;
	font-size:18px;
	font-weight:bold;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterInfo #bbsViewDate{
	margin-top:5px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewInfo{
	float:right;
	width:100px;
	padding-left:20px;
	border-left:1px solid #ddd;
}

#bbsListWrap #bbsViewWrap #bbsViewContentWrap{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #ddd;
	line-height:1.5;
}


#bbsEntryWrap{
	width:960px;
}

#bbsEntryWrap #formBody #formTable .th{
	width:15%;
}

#bbsEntryWrap #formBody #formTable .td{
	width:85%;
}

#bbsEntryWrap #formBody #formTable th, #bbsEntryWrap #formBody #formTable td{
	padding:8px;
}






