body{
	margin:0px;
	font-family:malgun gothic;
	font-size:14px;
	color:#444;
	background-color:#fff;
}

a{
	color:#111;
	text-decoration:none;
}

a:hover{
	color:#000;
	text-decoration:underline;
}

input[type='text'], input[type='password'], input[type='file']{
	border:1px solid #bbb;
	padding:3px;
	font-family:malgun gothic;
}

select{
	font-family:malgun gothic;
	border:1px solid #bbb;
}

button{
	font-family:Nanum Gothic;
}

textarea{
	font-family:malgun gothic;
}

#mainWrap{
	width:1000px;
	margin:0 auto;
	background-color:#fff;
}

#topWrap{
	height:100px;
	background-color:#fff;
}

#logoWrap{
	float:left;
	margin-top:40px;
}

#topmenuWrap{
	float:right;
	margin-top:60px;
	margin-right:20px;
}

#topmenuWrap a{
	color:#999;
}

#topmenuWrap a:hover{
	color:#333;
}

#topmenuWrap #loginName{
	color:#fc0;
	font-weight:bold;
	margin-right:20px;
}

#menuWrap{
	height:50px;
	background-color:#FF9F9F;
	color:#fff;
}

#menuWrap .menu{
	float:left;
	height:30px;
	padding:10px 50px;
	font-size:24px;
	font-weight:bold;
	font-style:italic;
	cursor:pointer;
}

#menuWrap .menu:hover{
	color:#fff;
	background-color:#FF8D8D;
}


#bodyWrap{
	padding:10px 20px 100px 20px;
}

#bodyWrap #title{
	padding-left:40px;
	background:url(/images/sd_icon_title_bg_black.png);
	background-repeat:no-repeat;
	background-position:left 6px;
	font-size:30px;
	font-weight:bold;
	margin:10px 0px;
	color:#ff8b8b;
}

#bodyWrap table{
	width:100%;
	border-collapse:collapse;
}

#bodyWrap table th, #bodyWrap table td{
	padding:10px;
	border:1px solid #dcdcdc;
	
}

#bodyWrap table th{
	font-size:15px;
	background-color:#fff;


}


#bodyWrap #bbsList table{
	width:100%;
	border-collapse:collapse;
}

#bodyWrap #bbsList table th, #bodyWrap #bbsList table td{
	padding:10px;
	border-top:1px solid #dcdcdc;
	border-bottom:1px solid #dcdcdc;
	
}

#bodyWrap #bbsList table th{
	font-size:15px;
	background-color:#fff;
	border-top:1px solid #333;
	border-bottom:1px solid #333;
}


#mainPageWrap .titleWrap{
	width:950px;
	height:40px;
	margin-top:10px;
	border-bottom:1px solid #ddd;
	margin:auto;
	margin-top:10px;
}

#mainPageWrap .titleWrap .title{
	font-family:malgun gothic;
	font-size:16px;
	font-weight:bold;
	font-style:italic;
	color:#000;
	float:left;
	margin-top:15px;
}

#mainPageWrap .titleWrap .more{
	font-size:12px;
	float:right;
	margin-top:20px;
}


#mainPageWrap #visualWrap{
	height:400px;
}



#mainPageWrap #mainPostWrap{
	padding:10px 25px 25px 25px;
}

#mainPageWrap #mainPostWrap .item_left, #mainPageWrap #mainPostWrap .item_right{
	margin-bottom:20px;
	padding-bottom:20px;

}

#mainPageWrap #mainPostWrap .item_left:last-child, #mainPageWrap #mainPostWrap .item_right:last-child{
	margin-bottom:0px;
	padding-bottom:0px;
	border-bottom:none;
}

#mainPageWrap #mainPostWrap .img{
	width:400px;
	padding:5px;
	border:1px solid #ddd;
	text-align:center;
}

#mainPageWrap #mainPostWrap .item_left .img{
	float:left;
}

#mainPageWrap #mainPostWrap .item_right .img{
	float:right;
}

#mainPageWrap #mainPostWrap .info{
	width:510px;
	float:left;
}

#mainPageWrap #mainPostWrap .item_left .info{
	margin-left:20px;
}

#mainPageWrap #mainPostWrap .item_right .info{
	margin-right:20px;
}

#mainPageWrap #mainPostWrap .title{
	margin-top:10px;
	font-size:30px;
	font-family:Nanum Gothic;
	font-weight:bold;
}

#mainPageWrap #mainPostWrap .content{
	margin-top:20px;
	line-height:1.3;
	max-height:250px;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:14;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;	
}



#mainPageWrap #galleryWrap{
	padding:10px 25px 25px 25px;
}

#mainPageWrap #galleryWrap .item{
	float:left;
	margin:0px 4px 9px 4px;
}

#mainPageWrap #galleryWrap .img{
	width:300px;
	height:200px;
	line-height:197px;
	text-align:center;
	border:1px solid #ddd;
	padding:3px;	
}

#mainPageWrap #galleryWrap .title{
	font-family:Nanum Gothic;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	padding:5px 0px;
	width:300px;
	overflow:hidden;
	text-overflow:ellipsis;
	white-space:nowrap;		
}



#footWrap{
	background-color:#fff;
	text-align:center;
	border-top: 1px solid #ddd;
	padding:40px;
}




#loginWrap{
	margin-top:30px;
	border-top:5px solid #000;
	border-bottom:2px solid #000;
	padding:50px;
}

#loginWrap #title{
	font-family:Nanum Gothic;
}

#loginWrap div{
	margin-top:10px;
	text-align:center;
}

#loginWrap input{
	width:200px;
	font-size:20px;
	font-style:italic;
	padding:5px;
}
	
#loginWrap .btnCheckbox{
	display:none;
}	

#loginWrap .btnCheckbox + label{
	display: inline-block;
	padding:5px;
	color:#fff;
	background-color:#bbb;
	cursor: pointer;
}	

#loginWrap .btnCheckbox:checked + label{
	background-color:#a51f22;
}
	
#loginWrap #btnLogin{
	margin-top:10px;
}	





#memberJoinWrap{
	padding:30px;
}

#memberJoinTitle{
	font-family:Nanum Gothic;
	font-size:40px;
	font-weight:bold;
	color:#333;
	margin-left:40px;
}

#memberJoinBody{
	width:90%;
	margin:auto;
	padding:20px 0px 20px 0px;
	margin-top:20px;
	margin-bottom:20px;
	border-top:1px solid #ddd;
	border-bottom:1px solid #ddd;
}

#memberJoinTable{
	width:650px;
	margin-top:20px;
	margin:auto;
	border-spacing:0px;
}

#memberJoinTable th, #memberJoinTable td{
	padding:5px;
}

#memberJoinTable th{
	text-align:right;
	padding-right:10px;
	font-size:16px;
}

#memberJoinTable .essen{
	position:inline-block;
	padding-left:12px;
	background:url(/images/icon_essen.png);
	background-repeat:no-repeat;
	background-position:left 5px;
}

#memberJoinTable td{
	border-left:2px solid #ddd;
	padding-left:10px;
}

#memberJoinTable input[type="text"]{
	width:200px;
}

#memberJoinTable input[type="password"]{
	width:204px;
}

#memberJoinTable .user_email{
	width:120px !important;
}

#memberJoinTable #user_birthday{
	width:80px !important;
}

#memberJoinBtn{
	text-align:center;
	margin:20px 0px 50px 0px;
}

#memberJoinTable .floatLeft div{
	float:left;
}





#formBody{
	width:100%;
	margin-top:20px;
}

#formTable{
	width:600px;
	margin:auto;
	border-spacing:0px;
}

#formTable th, #formTable td{
	padding:5px;
}

#formTable th{
	text-align:right;
	padding-right:10px;
	font-size:16px;
}

#formTable .essen{
	position:inline-block;
	padding-left:12px;
	background:url(/images/icon_essen.png);
	background-repeat:no-repeat;
	background-position:left 5px;
}

#formTable td{
	border-left:2px solid #ddd;
	padding-left:10px;
}




#commentWrap{
	margin-top:30px;
}

#commentWrap #commentTitle{
	width:200px;
	padding-top:10px;
	font-size:30px;
	font-weight:bold;
	font-style:italic;
	margin:50px 0px 20px 0px;
	
	background:url('/images/bg_comment_title.png');
	background-repeat:no-repeat;
	background-position:right;
}

#commentWrap #commentWriteWrap{
	margin-bottom:20px;
}

#commentWrap #commentWriteWrap #commentPoint{
	height:30px;
}

#commentWrap #commentWriteWrap #commentPoint div{
	float:left;
}

#commentWrap #commentWriteWrap #commentTextarea{
	width:90%;
	float:left;
}

#commentWrap #commentWriteWrap #commentTextarea textarea{
	width:97%;
	height:58px;
	padding:10px;
	font-size:14px;
}

#commentWrap #commentWriteWrap #commentButton{
	width:10%;
	float:left;
}

#commentWrap #commentWriteWrap #commentButton button{
	width:100%;
	height:80px;
	border:0px;
	background-color:#333;
	color:#fff;
	font-size:16px;
	cursor:pointer;
}

#commentWrap #commentListWrap .commentItem{
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #ddd;
}

#commentWrap #commentListWrap .commentItem table td, #commentWrap #commentListWrap .commentModifyItem table td{
	border:none;
	vertical-align:top;
}

#commentWrap #commentListWrap .commentItem .imgWrap, #commentWrap #commentListWrap .commentModifyItem .imgWrap{
	width:60px;
}

#commentWrap #commentListWrap .commentItem .contentWrap, #commentWrap #commentListWrap .commentModifyItem .contentWrap{
	width:95%;
}

#commentWrap #commentListWrap .commentItem .replyIcon, #commentWrap #commentListWrap .commentModifyItem .replyIcon{
	padding-left:25px;
	
	background:url('/images/bg_comment_reply.png');
	background-repeat:no-repeat;
	background-position:left 7px;
}

#commentWrap #commentListWrap .commentItem .contentWrap, #commentWrap #commentListWrap .commentModifyItem .contentWrap{
	float:left;
	border-left:1px solid #eee;
	padding-left:10px;
}

#commentWrap #commentListWrap .commentItem .commentName, #commentWrap #commentListWrap .commentModifyItem .commentName{
	font-size:16px;
	font-weight:bold;
}

#commentWrap #commentListWrap .commentItem .commentDate, #commentWrap #commentListWrap .commentModifyItem .commentDate{
	font-size:11px;
}

#commentWrap #commentListWrap .commentItem .commentContent{
	margin-top:10px;
	line-height:1.5;
}

#commentWrap #commentListWrap .commentItem .commentBtn{
	margin-top:10px;
}



#commentWrap #commentListWrap .commentReplyItem, #commentWrap #commentListWrap .commentModifyItem{
	border-bottom:1px solid #ddd;
	padding:10px 0px;
	margin-bottom:50px;
}

#commentWrap #commentListWrap .commentReplyItem .commentReplyTextarea textarea, #commentWrap #commentListWrap .commentModifyItem .commentModifyTextarea textarea{
	width:97%;
	height:58px;
	padding:10px;
	font-size:14px;
	margin-bottom:10px;
	margin-top:5px;
}


#bbsListWrap{
	width:960px;
	margin-top:20px;
}

#bbsListWrap #bbsSearchWrap{
	margin-bottom:10px;
}

#bbsListWrap #bbsSearchWrap #bbsSearch{
	float:left;
}

#bbsListWrap #bbsSearchWrap #bbsSearch #searchKeyword{
	font-size:16px;
	padding:5px;
}

#bbsListWrap #bbsSearchWrap #bbsCount{
	float:right;
	margin-bottom:10px;
	font-size:18px;
	font-style:italic;
}

#bbsListWrap #bbsSearchWrap #bbsCount span{
	font-weight:bold;
	color:#000;
}

#bbsListWrap #bbsList td{
	padding:8px;
}

#bbsListWrap #bbsList .commentCnt{
	margin-left:5px;
	color:#a81515;
	font-weight:bold;
}

#bbsListWrap #bbsList .replyIcon{
	padding-left:29px;
	
	background:url('/images/sd_icon_re_orange.png');
	background-repeat:no-repeat;
	background-position:left 0px;
}


#bbsListWrap #bbsFaqList .bbsContent{
	display:none;
	margin-top:10px;
	border-top:1px solid #ddd;
	padding:10px;
	margin-bottom:50px;
}

#bbsListWrap #bbsGalleryList{
	border-top:1px solid #ddd;
}

#bbsListWrap #bbsGalleryList .bbsListItem{
	width:320px;
	height:230px;
	float:left;
	padding:20px 0px 20px 0px;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListImg{
	width:300px;
	height:200px;
	line-height:197px;
	padding:3px;
	border:1px solid #ddd;
	margin:auto;
	text-align:center;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListImg a:hover{
	text-decoration:none;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListImg .noImage{
	display:inline-block;
	width:300px;
	height:200px;
	line-height:197px;
	background-color:#bbb;
	color:#fff;
	text-align:center;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListInfo{
	width:300px;
	margin:auto;
}

#bbsListWrap #bbsGalleryList .bbsListItem .bbsListInfo .bbsListTitle{
	margin-top:5px;
	text-align:center;
}

#bbsListWrap .emptyItem{
	border-top:1px solid #ddd;
	width:320px;
	height:280px;
	float:left;
}


#bbsListWrap #bbsListWebzine{
	padding-top:30px;
	border-top:1px solid #ddd;
}

#bbsListWrap #bbsListWebzine .item_left, #bbsListWrap #bbsListWebzine .item_right{
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #ddd;
}

#bbsListWrap #bbsListWebzine .item_left .img{
	width:400px;
	padding:5px;
	border:1px solid #ddd;
	text-align:center;
	float:left;
}

#bbsListWrap #bbsListWebzine .item_right .img{
	width:400px;
	padding:5px;
	border:1px solid #ddd;
	text-align:center;
	float:right;
}

#bbsListWrap #bbsListWebzine .item_left .info{
	width:510px;
	float:left;
	margin-left:20px;
}

#bbsListWrap #bbsListWebzine .item_right .info{
	width:510px;
	float:left;
	margin-right:20px;
}

#bbsListWrap #bbsListWebzine .item_left .title, #bbsListWrap #bbsListWebzine .item_right .title{
	margin-top:10px;
	font-size:30px;
	font-family:Nanum Gothic;
	font-weight:bold;
}

#bbsListWrap #bbsListWebzine .item_left .content, #bbsListWrap #bbsListWebzine .item_right .content{
	margin-top:20px;
	line-height:1.3;
	max-height:250px;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:14;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;	
}


#bbsListWrap #bbsListWebzine .item{
	width:320px;
	float:left;
	margin-bottom:30px;
	padding-bottom:30px;
	border-bottom:1px solid #ddd;
}

#bbsListWrap #bbsListWebzine .item .img{
	width:300px;
	height:200px;
	line-height:197px;
	padding:3px;
	border:1px solid #ddd;
	margin:auto;
	text-align:center;
}

#bbsListWrap #bbsListWebzine .item .img a:hover{
	text-decoration:none;
}

#bbsListWrap #bbsListWebzine .item .info{
	width:300px;
	margin:auto;
}

#bbsListWrap #bbsListWebzine .item .title{
	font-size:18px;
	font-weight:bold;
	font-family:Nanum Gothic;
	margin-top:5px;
	text-align:center;
}

#bbsListWrap #bbsListWebzine .item .content{
	margin-top:10px;
	line-height:1.3;
	height:90px;
	display:block;
	display:-webkit-box;
	-webkit-line-clamp:5;
	-webkit-box-orient:vertical;
	overflow:hidden;
	text-overflow:ellipsis;	
}



#bbsViewImgWrap{
	border-bottom:1px solid #ddd;
}

#bbsViewImgWrap .bbsViewImgItem{
	width:320px;
	height:200px;
	float:left;
	padding:20px 0px 20px 0px;
}

#bbsViewImgWrap .bbsViewImgItem .bbsImg{
	width:300px;
	height:200px;
	line-height:197px;
	padding:3px;
	border:1px solid #ddd;
	margin:auto;
	text-align:center;
	overflow:hidden;
}

#bbsViewImgWrap .bbsViewImgItem .bbsImg a:hover{
	text-decoration:none;
}



#bbsListWrap #bbsViewWrap{
	border:1px solid #ddd;
	margin-top:20px;
	margin-bottom:10px;
	padding:20px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewTitle{
	font-size:28px;
	font-weight:bold;
	margin-bottom:20px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterImg{
	float:left;
	border:1px solid #ddd;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterInfo{
	float:left;
	margin-left:10px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterInfo #bbsViewName{
	margin-top:5px;
	font-size:18px;
	font-weight:bold;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewWriterInfo #bbsViewDate{
	margin-top:5px;
}

#bbsListWrap #bbsViewWrap #bbsViewTitleWrap #bbsViewInfo{
	float:right;
	width:100px;
	padding-left:20px;
	border-left:1px solid #ddd;
}

#bbsListWrap #bbsViewWrap #bbsViewContentWrap{
	margin-top:20px;
	padding-top:20px;
	border-top:1px solid #ddd;
	line-height:1.5;
}


#bbsEntryWrap{
	width:960px;
}

#bbsEntryWrap #formBody #formTable .th{
	width:15%;
}

#bbsEntryWrap #formBody #formTable .td{
	width:85%;
}

#bbsEntryWrap #formBody #formTable th, #bbsEntryWrap #formBody #formTable td{
	padding:8px;
}


.pageNavi{
	width:100%;
	margin-top:15px;
	text-align:center;
	margin-bottom:20px;
}

.pageNavi img{
	vertical-align:bottom;
	margin:0px 2px;
}

.pageNavi .num_list a{
	display:inline-block;
	width:40px;
	height:27px;
	line-height:27px;
	border:1px solid #ddd;
	border-right:0px;
	text-decoration:none;
}

.pageNavi .num_list a:first-child{
	margin-left:3px;
}

.pageNavi .num_list a:last-child{
	margin-right:3px;
	border-right:1px solid #ddd;
}

.pageNavi .num_list a.active{
	border:1px solid #333;
	background-color:#333;
	color:#fff;
}




